<!--The content below is only a placeholder and can be replaced.-->
<div *ngFor='let user of users$'>
<h1>
  welcom {{ user.idC  }}  - {{ user.nomfamille }} - {{ user. nomchef }}

</h1>
</div>


<router-outlet></router-outlet>
